.modal-backdrop {
    z-index: 1040 !important;
}

.modal-dialog {
    margin: 2px auto;
    z-index: 1100 !important;
}

#receipt {
    display: none;
}

.table-wrap {
    height: 300px;
    overflow-y: auto;
}


/* @media print {
    @page {
        margin: 0;
    }
} */

@page {
    margin: 0;
}


/* .qty {
    font-size: large;
} */


/* .select2-selection {
    overflow: hidden !important;
    height: auto !important;
} */


/* .select2-selection__rendered {
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 34px !important;
} */


/* @import url("https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css");
.select2-dropdown--below {
    top: -38px;
} */


/* adjust css to change look */


/* .select2 {
    width: 100%!important;
} */


/* .select-box {
    width: 300px;
} */


/* 
.select-box {
    position: relatove;
    display: block;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    height: 36px;
    line-height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}

.select2-container {
    height: 38px;
    border: solid 1px #ddd;
}

#custom-select {
    height: 38px;
    border: solid 1px #ddd;
} */

.input-group>.select2-container--bootstrap {
    width: auto;
    flex: 1 1 auto;
}

.input-group>.select2-container--bootstrap .select2-selection--single {
    height: 100%;
    line-height: inherit;
    padding: 0.5rem 1rem;
}

table,
thead,
tbody {
    font-size: 18px;
}

#cashier,
#member,
#sale-date,
#barcode,
#search-product {
    font-size: 16px;
}


/* input[type="number"] {
    font-size: 24px;
} */

#cash,
#change {
    font-size: 20px;
}

#div-rp {
    font-size: 18px;
}

#grand_total {
    font-size: 36px;
}