{% extends 'dash/layout/base.html' %}
{% load static widget_tweaks%}
{% block css %}
<link href="{% static 'vendors/metronic/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
{% comment %} <link rel="stylesheet" href="{% static 'vendors/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'admin/css/sale.css' %}">
{% endblock %}

{% block js %}
<script type="text/javascript">
    let currentUser = '{{ request.user.username }}';
</script>
<!-- page script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="{% static 'common.js' %}"></script>
<script src="{% static 'admin/sale.js' %}"></script>
{% endblock %}


{% block breadcrumb %}
<span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Penjualan</span>
{% endblock %}
  
{% block content %}
{% csrf_token %}
    <div class="row">
        <div class="col">
            <div class="card mx-auto">
                <form class="form-horizontal">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-form-label col-3">Date</label>
                            <div class="col-9">
                                <input type="text" id="sale-date" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-3">Kasir</label>
                            <div class="col-9">
                                <input type="text" id="cashier" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-3">Customer</label>
                            <div class="col-9">
                                <input type="text" class="form-control">    
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto">
                <form class="form-horizontal">
                {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-form-label col-3">Barcode</label>
                            <div class="col-9">
                                <div class="input-group">
                                    <input class="form-control" id="barcode" type="text" placeholder="Barcode" >
                                    <div class="input-group-append">
                                        <button type="button" id="search-product" class="btn btn-info input-group-text">
                                        <i class="fas fa-search" ></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-3">Nama Item</label>
                            <div class="col-9">
                                <input type="text" id="item-name" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-3">Qty</label>
                            <div class="col-9">
                                <div class="input-group">
                                    <input type="number" id="qty-item-cart" min="1" value='1' class="form-control">
                                    <div class="input-group-append">
                                        <button type="button" id="add-item-cart" class="btn btn-info input-group-text">
                                        <i class="fas fa-cart-plus" ></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto">
                <div class="card-body">
                    <div class="row">
                        <h4><label class="col-form-label text-muted">Invoice</label>&nbsp;</h4>
                        <h4><label class="col-form-label" id="invoice_number">{{ invoice_number }}</label></h4>
                    </div>
                    <div class="row">
                        <label class="col-form-label" >
                            <h3 class='col'>Rp.</h3>
                        </label>
                        <label class="col-form-label" >
                            <h1 class='col' style="font-size: 70px;" id="grand_total">0</h1>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mx-auto">
                <div class="card-body">
                    <table id="item_table" class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Barcode</th>
                                <th>Nama Item</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Total</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mx-auto">
                <form class="form-horizontal">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-form-label col-3">Sub Total</label>
                            <div class="col-9">
                                <input type="text" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-3">Grand Total</label>
                            <div class="col-9">
                                <input type="text" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto">
                <form class="form-horizontal">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-form-label col-3">Cash</label>
                            <div class="col-9">
                                <input type="number" min="0"  class="form-control" id="cash">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-3">Change</label>
                            <div class="col-9">
                                <input type="number" min="0" class="form-control" id="change" disabled>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto">
                <form class="form-horizontal">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-form-label col-2">Note</label>
                            <div class="col">
                                <textarea class="col" rows="4">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col">
            <div class="form-group row">
                <button type="button" class="btn btn-success" id="process_payment">
                    <i class="fas fa-shopping-cart"></i>&nbsp;Process Payment
                </button>
            </div>
            <div class="form-group row">
                <button type="button" class="btn btn-danger" id="btn-cancel-payment" onclick="printResult()">Cancel</button>&nbsp;
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Item</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" id="modal-barcode" type="hidden" placeholder="Barcode" >
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-form-label col-3">Nama Item</label>
                        <div class="col-9">
                            <input type="text" id="modal-item-name" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-3">Qty</label>
                        <div class="col-9">
                            <div class="input-group">
                                <input type="number" id="modal-qty-item-cart" min="1" value='1' class="form-control">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
                <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="modal-btn-update" class="btn btn-primary">Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock %}
<!-- /.content -->
