{% extends 'base.html' %}
{% load static widget_tweaks%}
  {% block page_css %}
    <link rel="stylesheet" href="{% static 'vendors/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
  {% endblock %}

  {% block title%}
    <title>DjangoCashier | Products | Convert</title>
  {% endblock %}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% block content_header %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
              <li class="breadcrumb-item"><a href="{% url 'dash_view' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'dash_product_list' %}">Product</a></li>
              <li class="breadcrumb-item active">Convert</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    {% endblock %}

    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="row">
        <div class="col-12">
            <div class="card card-primary">
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" method="post">
              <input type="hidden" name="product_id" value="{{product_id}}"/>
              {% csrf_token %}
                <div class="card-body">
                  <div class="form-group row pt-4">
                    {{ form.product_id|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                    <div class="col-lg-9 col-xl-6">
                      {% render_field form.product_id|add_error_class:"is-invalid" class="form-control" %}
                      {% for error in form.product_id.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                      {% endfor %}
                      {% if form.product_id.help_text %}
                      <span class="form-text text-muted">{{ form.product_id.help_text }}</span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group row pt-4">
                    {{ form.unit_id|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                    <div class="col-lg-9 col-xl-6">
                      {% render_field form.unit_id|add_error_class:"is-invalid" class="form-control" %}
                      {% for error in form.unit_id.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                      {% endfor %}
                      {% if form.unit_id.help_text %}
                      <span class="form-text text-muted">{{ form.unit_id.help_text }}</span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group row pt-4">
                    {{ form.quantity|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                    <div class="col-lg-9 col-xl-6">
                      {% render_field form.quantity|add_error_class:"is-invalid" class="form-control" %}
                      {% for error in form.quantity.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                      {% endfor %}
                      {% if form.quantity.help_text %}
                      <span class="form-text text-muted">{{ form.quantity.help_text }}</span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group row pt-4">
                    {{ form.purchase_price|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                    <div class="col-lg-9 col-xl-6">
                      {% render_field form.purchase_price|add_error_class:"is-invalid" class="form-control" %}
                      {% for error in form.purchase_price.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                      {% endfor %}
                      {% if form.purchase_price.help_text %}
                      <span class="form-text text-muted">{{ form.purchase_price.help_text }}</span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group row pt-4">
                    {{ form.selling_price|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                    <div class="col-lg-9 col-xl-6">
                      {% render_field form.selling_price|add_error_class:"is-invalid" class="form-control" %}
                      {% for error in form.selling_price.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                      {% endfor %}
                      {% if form.selling_price.help_text %}
                      <span class="form-text text-muted">{{ form.selling_price.help_text }}</span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group row pt-4">
                    {{ form.grosir_1_price|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                    <div class="col-lg-9 col-xl-6">
                      {% render_field form.grosir_1_price|add_error_class:"is-invalid" class="form-control" %}
                      {% for error in form.grosir_1_price.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                      {% endfor %}
                      {% if form.grosir_1_price.help_text %}
                      <span class="form-text text-muted">{{ form.grosir_1_price.help_text }}</span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group row pt-4">
                    {{ form.grosir_2_price|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                    <div class="col-lg-9 col-xl-6">
                      {% render_field form.grosir_2_price|add_error_class:"is-invalid" class="form-control" %}
                      {% for error in form.grosir_2_price.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                      {% endfor %}
                      {% if form.grosir_2_price.help_text %}
                      <span class="form-text text-muted">{{ form.grosir_2_price.help_text }}</span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group row pt-4">
                    {{ form.grosir_3_price|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                    <div class="col-lg-9 col-xl-6">
                      {% render_field form.grosir_3_price|add_error_class:"is-invalid" class="form-control" %}
                      {% for error in form.grosir_3_price.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                      {% endfor %}
                      {% if form.grosir_3_price.help_text %}
                      <span class="form-text text-muted">{{ form.grosir_3_price.help_text }}</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <div class="row">
                    <div class="col-lg-3 col-xl-3">
                    </div>
                    <div class="col-lg-9 col-xl-9">
                        <button type="submit" class="btn btn-primary">{{ action|title }}</button>&nbsp;
                    </div>
                </div>
                </div>
              </form>
            </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    {% endblock %}
    <!-- /.content -->


{% block page_js %}
<!-- DataTables -->
<script src="{% static 'vendors/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'vendors/js/demo.js' %}"></script>
<!-- page script -->
<script type="text/javascript">
    $(document).ready(function () {
    bsCustomFileInput.init();
    });
</script>
{% endblock %}
