{% extends 'base.html' %}
{% load static %}
  {% block page_css %}
    <link rel="stylesheet" href="{% static 'vendors/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
  {% endblock %}

  {% block title%}
    <title>DjangoCashier | Products | Convert</title>
  {% endblock %}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% block content_header %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
              <li class="breadcrumb-item"><a href="{% url 'dash_view' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'dash_product_list' %}">Product</a></li>
              <li class="breadcrumb-item active">Convert</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    {% endblock %}

    <!-- Main content -->
    {% block content %}
    <section class="content">
      {% csrf_token %}
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header container-fluid">
              <div class="row">
                <div class="col-10">
                  <h3 >{{product_name}}</h3>
                </div>
                <div class="col-2 float-right">
                  <a href="{% url 'dash_convert_barang_create' product_id %}" class="btn btn-primary">
                        Add Convert
                  </a>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-hover">
                <thead>
                <tr>
                    <th>Quantity </th>
                    <th>Unit </th>
                    <th>Purchase Price </th>
                    <th>Selling Price </th>
                    <th>Grosir 1 Price </th>
                    <th>Grosir 2 Price </th>
                    <th>Grosir 3 Price </th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    {% endblock %}
    <!-- /.content -->


{% block page_js %}
<!-- DataTables -->
<script src="{% static 'vendors/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'vendors/js/demo.js' %}"></script>

<script type="text/javascript">
  let currentProduct = '{{ product_id }}';
</script>
<!-- page script -->
<script src="{% static 'common.js' %}"></script>
<script src="{% static 'admin/convert.js' %}"></script>
{% endblock %}
