{% extends 'base.html' %}
{% load static %}
  {% block page_css %}
    <link rel="stylesheet" href="{% static 'vendors/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.dataTables.min.css">
  {% endblock %}

  {% block title%}
    <title>DjangoCashier | Products</title>
  {% endblock %}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% block content_header %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
              <li class="breadcrumb-item"><a href="{% url 'dash_view' %}">Home</a></li>
              <li class="breadcrumb-item active">Products</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    {% endblock %}

    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header container-fluid">
              <div class="row">
                <div class="col-10">
                  <h3 >Products</h3>
                </div>
                <div class="col-2 float-right">
                  <a href="{% url 'dash_product_create' %}" class="btn btn-primary">
                        Add Products
                  </a>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table responsive table-hover" style="width:100%">
                <thead style="width:100%">
                <tr >
                    <th>Name</th>
                    <th>Barcode</th>
                    <th>Stock</th>
                    <th>Category</th>
                    <th>Unit</th>
                    <th>Purchase Price</th>
                    <th>Selling Price</th>
                    <th>Quantity Grosir 1</th>
                    <th>Grosir 1 Price</th>
                    <th>Quantity Grosir 2</th>
                    <th>Grosir 2 Price</th>
                    <th>Quantity Grosir 3</th>
                    <th>Grosir 3 Price</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    {% endblock %}
    <!-- /.content -->


{% block page_js %}
<!-- DataTables -->
<script src="{% static 'vendors/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'vendors/js/demo.js' %}"></script>
<!-- page script -->
<script src="{% static 'admin/products.js' %}"></script>
<script>
  
  //$(".dataTables_scrollHeadInner .table").css("width","100%");
  $(".table").css("width","100%");
  
  
</script>
{% endblock %}
