{% extends 'dash/layout/base.html' %}
{% load static widget_tweaks %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block breadcrumb %}
<a href="{% url 'dash_product_list' %}" class="kt-subheader__breadcrumbs-link">Produk</a>
{% if object %}
<span class="kt-subheader__breadcrumbs-separator"></span>
<span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">{{ object.name }}</span>
{% endif %}
{% endblock %}

{% block content %}
<div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
    <!--Begin:: App Aside Mobile Toggle-->
    <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
        <i class="la la-close"></i>
    </button>
    <!--End:: App Aside Mobile Toggle-->

    {% comment %} {% include "oree/cms/user/update_aside.html" %} {% endcomment %}

    <!--Begin:: App Content-->
    <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
        <div class="row">
            <div class="col-xl-12">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">Produk <small>Edit Produk</small></h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-wrapper">
                                
                            </div>
                        </div>
                    </div>

                    <form class="kt-form kt-form--label-right form-main" id="kt_form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="next" id="next">
                        <div class="kt-portlet__body">
                            <div class="kt-section kt-section--first">
                                <div class="kt-section__body">
                                    <div class="form-group row">
                                        {{ form.name|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                                        <div class="col-lg-9 col-xl-6">
                                            {% render_field form.name|add_error_class:"is-invalid" class="form-control" %}
                                            {% for error in form.name.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                                            {% if form.name.help_text %}<span class="form-text text-muted">{{ form.name.help_text }}</span>{% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row pt-4">
                                        {{ form.barcode|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                                        <div class="col-lg-9 col-xl-6">
                                            {% render_field form.barcode|add_error_class:"is-invalid" class="form-control" %}
                                            {% for error in form.barcodecategorystock.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                                            {% if form.barcode.help_text %}
                                            <span class="form-text text-muted">{{ form.barcode.help_text }}</span>{% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row pt-4">
                                        {{ form.category|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                                        <div class="col-lg-9 col-xl-6">
                                            {% render_field form.category|add_error_class:"is-invalid" class="form-control" %}
                                            {% for error in form.category.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                                            {% if form.category.help_text %}<span class="form-text text-muted">{{ form.category.help_text }}</span>{% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row pt-4">
                                        {{ form.stock|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                                        <div class="col-lg-9 col-xl-6">
                                            {% render_field form.stock|add_error_class:"is-invalid" class="form-control" %}
                                            {% for error in form.stock.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                                            {% if form.stock.help_text %}<span class="form-text text-muted">{{ form.stock.help_text }}</span>{% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row pt-4">
                                        {{ form.unit|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                                        <div class="col-lg-9 col-xl-6">
                                            {% render_field form.unit|add_error_class:"is-invalid" class="form-control" %}
                                            {% for error in form.unit.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                                            {% if form.unit.help_text %}<span class="form-text text-muted">{{ form.unit.help_text }}</span>{% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row pt-4">
                                        {{ form.purchase_price|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                                        <div class="col-lg-9 col-xl-6">
                                            {% render_field form.purchase_price|add_error_class:"is-invalid" class="form-control" %}
                                            {% for error in form.purchase_price.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                                            {% if form.purchase_price.help_text %}<span class="form-text text-muted">{{ form.purchase_price.help_text }}</span>{% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row pt-4">
                                        {{ form.selling_price|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                                        <div class="col-lg-9 col-xl-6">
                                            {% render_field form.selling_price|add_error_class:"is-invalid" class="form-control" %}
                                            {% for error in form.selling_price.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                                            {% if form.selling_price.help_text %}<span class="form-text text-muted">{{ form.selling_price.help_text }}</span>{% endif %}
                                        </div>
                                    </div>
                                    <!-- Harga Bertingkat -->
                                    <div class="form-group row pt-4">
                                        {{ form.quantity_grosir_1|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                                        <div class="col-lg-9 col-xl-6">
                                            {% render_field form.quantity_grosir_1|add_error_class:"is-invalid" class="form-control" %}
                                            {% for error in form.quantity_grosir_1.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                                            {% if form.quantity_grosir_1.help_text %}<span class="form-text text-muted">{{ form.quantity_grosir_1.help_text }}</span>{% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row pt-4">
                                        {{ form.grosir_1_price|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                                        <div class="col-lg-9 col-xl-6">
                                            {% render_field form.grosir_1_price|add_error_class:"is-invalid" class="form-control" %}
                                            {% for error in form.grosir_1_price.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                                            {% if form.grosir_1_price.help_text %}<span class="form-text text-muted">{{ form.grosir_1_price.help_text }}</span>{% endif %}
                                        </div>
                                    </div>

                                    <div class="form-group row pt-4">
                                        {{ form.quantity_grosir_2|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                                        <div class="col-lg-9 col-xl-6">
                                            {% render_field form.quantity_grosir_2|add_error_class:"is-invalid" class="form-control" %}
                                            {% for error in form.quantity_grosir_2.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                                            {% if form.quantity_grosir_2.help_text %}<span class="form-text text-muted">{{ form.quantity_grosir_2.help_text }}</span>{% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row pt-4">
                                        {{ form.grosir_1_price|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                                        <div class="col-lg-9 col-xl-6">
                                            {% render_field form.grosir_2_price|add_error_class:"is-invalid" class="form-control" %}
                                            {% for error in form.grosir_2_price.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                                            {% if form.grosir_2_price.help_text %}<span class="form-text text-muted">{{ form.grosir_2_price.help_text }}</span>{% endif %}
                                        </div>
                                    </div>

                                    <div class="form-group row pt-4">
                                        {{ form.quantity_grosir_3|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                                        <div class="col-lg-9 col-xl-6">
                                            {% render_field form.quantity_grosir_3|add_error_class:"is-invalid" class="form-control" %}
                                            {% for error in form.quantity_grosir_3.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                                            {% if form.quantity_grosir_3.help_text %}<span class="form-text text-muted">{{ form.quantity_grosir_3.help_text }}</span>{% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row pt-4">
                                        {{ form.grosir_3_price|add_label_class:"col-xl-3 col-lg-3 col-form-label" }}
                                        <div class="col-lg-9 col-xl-6">
                                            {% render_field form.grosir_3_price|add_error_class:"is-invalid" class="form-control" %}
                                            {% for error in form.grosir_3_price.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                                            {% if form.grosir_3_price.help_text %}<span class="form-text text-muted">{{ form.grosir_3_price.help_text }}</span>{% endif %}
                                        </div>
                                    </div>
                                    
                                    <div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit kt-separator--space-lg"></div>

                                    <div class="form-group row kt-margin-t-20 kt-margin-b-0">
                                        <label class="col-xl-3 col-lg-3 col-form-label"></label>
                                        <div class="col-lg-9 col-xl-6">
                                        <a href="{% url 'dash_product_delete' object.id %}">
                                            <button type="button" class="btn btn-label-danger btn-bold btn-sm kt-margin-t-5 kt-margin-b-5">Hapus kategori ?</button>
                                            <span class="form-text text-muted">
                                                <strong>Perhatian!</strong> kategori akan dihapus permanen dan tidak dapat dikembalikan.
                                            </span>
                                        </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-lg-3 col-xl-3">
                                    </div>
                                    <div class="col-lg-9 col-xl-9">
                                        <button type="submit" class="btn btn-primary">Perbaharui</button>&nbsp;
                                        <a href="{% url 'dash_product_list'%}">
                                            <button type="button" class="btn btn-secondary">Batal</button>&nbsp;
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--End:: App Content-->


</div>

{% endblock %}