{% extends 'base.html' %}
{% load static %}
  {% block page_css %}
    <link rel="stylesheet" href="{% static 'vendors/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
  {% endblock %}

  {% block title%}
    <title>DjangoCashier | Products</title>
  {% endblock %}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% block content_header %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
              <li class="breadcrumb-item"><a href="{% url 'dash_view' %}">Home</a></li>
              <li class="breadcrumb-item active">Employees</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    {% endblock %}

    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header container-fluid">
              <div class="row">
                <div class="col-10">
                  <h3 >Employees</h3>
                </div>
                <div class="col-2 float-right">
                  <a href="{% url 'dash_user_create' %}" class="btn btn-primary">
                        Add Employee
                  </a>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Role</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    {% endblock %}
    <!-- /.content -->


{% block page_js %}
<!-- DataTables -->
<script src="{% static 'vendors/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'vendors/js/demo.js' %}"></script>
<!-- page script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="{% static 'admin/user.js' %}"></script>
{% comment %} <script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script> {% endcomment %}
{% endblock %}
