{% extends 'base.html' %}
{% load static widget_tweaks%}
  {% block page_css %}
    <link rel="stylesheet" href="{% static 'vendors/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
  {% endblock %}

  {% block title%}
    <title>DjangoCashier | Unit</title>
  {% endblock %}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% block content_header %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
              <li class="breadcrumb-item"><a href="{% url 'dash_view' %}">Home</a></li>
              <li class="breadcrumb-item active">Unit</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    {% endblock %}

    <!-- Main content -->
    {% block content %}
    <section class="content ">
      <div class="row">
        <div class="col-12">
            <div class="card w-75 mx-auto">
                <div class="card-header">
                    <h3 class="card-title font-weight-bold">Unit <small>Delete Unit</small></h3>
                </div>
              <!-- /.card-header -->
              <!-- form start -->
                <form role="form" method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <label class="col-xl-3"></label>
                        <div class="col-lg-9 col-xl-6">
                            <h3><small>Are you sure?</small></h3>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-xl-3"></label>
                        <div class="col-lg-9 col-xl-6">
                            <span class="form-text text-muted">
                                Unit will be permanently removed and cannot be restored.
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-xl-3"></label>
                        <div class="col-lg-9 col-xl-6">
                            <a href="{% url 'dash_unit_update' object.id %}">
                                <h4>Unit : {{ object.name }} </h4>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <div class="row">
                    <div class="col-lg-3 col-xl-3">
                    </div>
                    <div class="col-lg-9 col-xl-9">
                        <button type="submit" class="btn btn-danger">Delete</button>&nbsp;
                        <a href="{% url 'dash_unit_update' object.id %}">
                            <button type="button" class="btn btn-secondary">Cancel</button>&nbsp;
                        </a>
                    </div>
                </div>
                </div>
                </form>
            </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    {% endblock %}
    <!-- /.content -->


{% block page_js %}
<!-- DataTables -->
<script src="{% static 'vendors/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'vendors/js/demo.js' %}"></script>
<!-- page script -->
<script type="text/javascript">
    $(document).ready(function () {
    bsCustomFileInput.init();
    });
</script>
{% endblock %}
