{% extends 'dash/layout/base.html' %}
{% load static widget_tweaks%}
{% block css %}
<link href="{% static 'vendors/metronic/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static 'admin/css/sale.css' %}">
<link rel="stylesheet" href="{% static 'select2/css/select2-bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'select2/js/select2.full.min.js' %}"></script>
<script type="text/javascript">
    let currentUser = '{{ request.user.first_name }}';
</script>
<!-- page script -->
{% comment %} <script src="{% static 'vendors/js/pages/moment-with-locales.min' %}"></script> {% endcomment %}
<script src="{% static 'common.js' %}"></script>
<script src="{% static 'admin/purchase.js' %}"></script>
<script>
    var css_url = "{% static 'admin/css/sale.css' %}";
</script>
{% endblock %}


{% block breadcrumb %}
<a href="{% url 'dash_purchase_list' %}" class="kt-subheader__breadcrumbs-link">Pembelian</a>
<span class="kt-subheader__breadcrumbs-separator"></span>
<span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Transaksi Pembelian</span>
{% endblock %}
  
{% block content %}
{% csrf_token %}
    <div class="col-12 alert-status" hidden>
        <div class="alert alert-custom alert-success" role="alert">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">Transaksi sukses, tidak dapat diedit !</div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="kt-portlet">
                <form class="kt-form kt-form--label-right">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-3 col-xl-3">
                                <input type="text" id="cashier" class="form-control" disabled>
                            </div>
                            <div class="col-lg-3 col-xl-3">
                                <select name="supplier" id="supplier" class="form-control" >
                                    <option value="">Pilih Supplier</option>
                                {% for supplier in suppliers %}
                                    <option value="{{ supplier.id }}">{{ supplier.kode }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-4 col-xl-2">
                                <input type="text" id="purchase-date" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input class="form-control" id="barcode" type="text" placeholder="Scan atau ketik barcode produk.." autofocus>
                                    <div class="input-group-append">
                                        <span class="input-group-text" type="button" id="search-product">
                                            <i class="flaticon-search" ></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <select class="form-control product_name" id="product_name" ></select>
                                </div> 
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <div class="table-wrap">
                        <table id="item_table" class="table table-hover custom-table">
                            <thead>
                                <tr>
                                    <th style="display:none;">Barcode</th>
                                    <th>Nama Item</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th>Total</th>
                                    <th class="col-actions">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <div class="col-12">
                        <div class="row">
                            <table class="table borderless">
                                <thead>
                                    <tr>
                                        <th class="text-left">Invoice</th>
                                        <th class="text-right" id="invoice_number">{{ invoice_number }}</th>
                                    </tr>
                                    <tr hidden>
                                        <th class="text-left">Subtotal</th>
                                        <th class="text-right" id="sub-total">Rp. 0</th>
                                    </tr>
                                    <tr>
                                        <th class="text-left"><h3>TOTAL</h3></th>
                                        <th class="text-right">
                                            <h3 id="grand_total">0</h3>
                                        </th>
                                    </tr>
                                <thead>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-xl-12">
                                <select name="payment_status" id="payment_status" class="form-control">
                                    <option value="">Pilih Pembayaran</option>
                                    <option value="1">Cash</option>
                                    <option value="0">Hutang</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12">
                                <button type="submit" class="btn btn-success btn-block m-1" id="process_payment">
                                    <i class="flaticon2-shopping-cart-1"></i>&nbsp;Akhiri Transaksi
                                </button>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.modal -->
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Item</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="form-control" id="modal-barcode" type="hidden" placeholder="Barcode" >
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-form-label col-3">Nama Item</label>
                            <div class="col-9">
                                <input type="text" id="modal-item-name" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-3">Qty</label>
                            <div class="col-9">
                                <div class="input-group">
                                    <input type="number" id="modal-qty-item-cart" min="1" value='1' class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-3">Harga</label>
                            <div class="col-9">
                                <input type="number" id="modal-price" min="0" value='0' class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                    <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="modal-btn-update" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
{% endblock %}
<!-- /.content -->
